pydub==0.25.1
numpy>=1.19.5
scipy==1.10.1
python-dotenv==1.0.0
librosa==0.10.0
tensorflow==2.12.0
torch==2.0.1
torchaudio==2.0.2
matplotlib>=3.3.4
sklearn  # Specific older version compatible with Dora
dora